<a href="https://colab.research.google.com/github/Prince00954/code-with-prince/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
L = [11, 12, 13, 14]

In [7]:
L += [50, 60]

In [8]:
L.remove(11)
L.remove(13)

In [9]:
print(sorted(L))

[12, 14, 50, 60]

In [10]:
print(sorted(L, reverse=True))

[60, 50, 14, 12]

In [11]:
print(13 in L)

False

In [12]:
print(len(L))

4

In [13]:
print(sum(L))

136

In [14]:
print(sum(x for x in L if x % 2 != 0))

0

In [15]:
print(sum(x for x in L if x % 2 == 0))

136

In [16]:
def is_prime(n):
    return all(n % i != 0 for i in range(2, int(n**0.5)+1)) if n > 1 else False
print(sum(x for x in L if is_prime(x)))

0

In [17]:
L.clear()

In [18]:
del L

In [19]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

# (i)
D[8] = 8.8

# (ii)
D.pop(2)

# (iii)
print(6 in D)

# (iv)
print(len(D))

# (v)
print(sum(D.values()))

# (vi)
D[3] = 7.1

# (vii)
D.clear()

False
5
37.4

In [20]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# (i)
S1.update([55, 66])

# (ii)
S1.discard(10)
S1.discard(30)

# (iii)
print(40 in S1)

# (iv)
print(S1.union(S2))

# (v)
print(S1.intersection(S2))

# (vi)
print(S1.difference(S2))

True
{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

In [21]:
import random
import string

# (i) 100 random strings
for _ in range(100):
    print(''.join(random.choices(string.ascii_letters, k=random.randint(6, 8))))

# (ii) Prime numbers between 600â€“800
def is_prime(n):
    return all(n % i != 0 for i in range(2, int(n**0.5)+1)) if n > 1 else False
print([x for x in range(600, 801) if is_prime(x)])

# (iii) Divisible by 7 and 9
print([x for x in range(100, 1001) if x % 7 == 0 and x % 9 == 0])

BGucHc
BhRijHmq
akdBYj
vqmVbuC
RJAhNaeu
lWwkGJuk
HvdisFHB
Bceacy
BNVWUaXq
rfSIAG
mymTar
ZhrkymE
CDfYEWuT
mhErxZ
ScqXDe
bnJDUe
lWdxuwT
AKEFTq
uPZIhzHj
uXJAVP
AQBsBaE
xTshlzpS
tIqFhz
bRGyqTc
KvuhaR
iCOxwED
uYujtH
zfMIMHk
YwnriMTi
GSJADSh
qgzaxc
LMQiWX
euidoG
obfzPJO
LFTnUpVU
uKUusRtI
fYbcna
RRHijwX
usrqbh
fpFQfVg
WkMAdPvG
IvmYWZ
OtkWcU
QwEzsPqD
umqcRnal
cnXiSuwJ
knopWAQ
BVsyIbPi
jDOpsHiR
cBrJLURr
xTvGae
eYAbpkP
NwoZRU
zWLGsyL
vegzjaHV
XJwtgo
CgLIBllL
ifIOkxn
wsHniZu
eMAUzzt
axVzOeSH
qdsEAtC
BgNuxLXa
kNWOtz
ECHPvVb
lDCRED
hASuYDSC
lfLcxon
nMuxgG
RnJsEP
UzueoyG
AqHihoUG
gOyUWCoi
PBOZjqUx
WKBwXpdC
EXEVvIi
QiqOwk
gxVASc
FsclECCT
vSwVoU
jpGkNn
SYCQnyRo
ZnOMqE
hxujBBUj
LfvGRzo
CbydawzR
EzCETzh
pekfXT
LHrwOV
MQsugiv
BQSNNE
nnmoOlR
ZBeROtUb
YupLVd
FvhWjzr
OKbNsxVn
VNdHSD
BCTkzrF
sfTjaKv
fshASqqj
[601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797]
[126, 189, 252, 315, 378, 441, 504, 567, 630, 693, 756, 819, 882, 945]

In [22]:
import random

list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

# (i)
print(set(list1) & set(list2))

# (ii)
print(set(list1) ^ set(list2))

# (iii)
print(min(list1), min(list2))

# (iv)
print(max(list1), max(list2))

# (v)
print(sum(list1) + sum(list2))

{10, 13, 24, 26, 27}
{12, 14, 15, 16, 18, 19, 21, 22, 23, 30}
10 10
27 30
390