<a href="https://colab.research.google.com/github/Prince00954/code-with-prince/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Q1. List Operations")
L = [11, 12, 13, 14]

Q1. List Operations

In [2]:
L.remove(11)
L.remove(13)
print("(ii)", L)

(ii) [12, 14]

In [3]:
L.sort()
print("(iii)", L)

(iii) [12, 14]

In [4]:
L.sort(reverse=True)
print("(iv)", L)

(iv) [14, 12]

In [5]:
print("(v)", "13 found" if 13 in L else "13 not found")

(v) 13 not found

In [6]:
print("(vi)", "Count:", len(L))

(vi) Count: 2

In [7]:
print("(vii)", "Sum:", sum(L))

(vii) Sum: 26

In [ ]:
# prompt: print("(viii)", "Odd Sum:", sum(i for i in L if i % 2 != 0))

print("(ix)", "Even Sum:", sum(i for i in L if i % 2 == 0))

In [9]:

print("(ix)", "Even Sum:", sum(i for i in L if i % 2 == 0))

(ix) Even Sum: 26

In [10]:
def is_prime(n):
    if n < 2: return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0: return False
    return True
print("(x)", "Prime Sum:", sum(i for i in L if is_prime(i)))

(x) Prime Sum: 0

In [11]:
L.clear()
print("(xi)", "List Cleared:", L)

(xi) List Cleared: []

In [12]:
del L
print("(xii)", "List Deleted")

(xii) List Deleted

In [13]:
print("\nQ2. Dictionary Operations")
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

Q2. Dictionary Operations

In [14]:
D[8] = 8.8
print("(i) After adding key=8:", D)

(i) After adding key=8: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [15]:
D.pop(2, None)
print("(ii) After removing key=2:", D)

(ii) After removing key=2: {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [17]:
key=6
print("(iii) Is key=6 present?", 6 in D)

(iii) Is key=6 present? False

In [19]:

print("(iv) Number of elements:", len(D))

(iv) Number of elements: 5

In [21]:
D[3] = 7.1
print("(vi) Updated key 3:", D)

(vi) Updated key 3: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [22]:
D.clear()
print("(vii) Dictionary after clearing:", D)

(vii) Dictionary after clearing: {}

In [23]:
print("\nQ3: Set Operations")
S1 = set([10, 20, 30, 40, 50, 60])
S2 = set([40, 50, 60, 70, 80, 90])

Q3: Set Operations

In [24]:
S1.update([55, 66])
print("(i) After adding 55 and 66:", S1)

(i) After adding 55 and 66: {66, 40, 10, 50, 20, 55, 60, 30}

In [26]:
S1.discard(10)
S1.discard(30)
print("(ii) After removing 10 and 30:", S1)

(ii) After removing 10 and 30: {66, 40, 50, 20, 55, 60}

In [27]:
print("(iii) Is 40 in S1?", 40 in S1)

(iii) Is 40 in S1? True

In [28]:
print("(iv) Union of S1 and S2:", S1.union(S2))

(iv) Union of S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}

In [29]:
print("(v) Intersection of S1 and S2:", S1.intersection(S2))

(v) Intersection of S1 and S2: {40, 50, 60}

In [30]:
print("(vi) S1 - S2:", S1.difference(S2))

(vi) S1 - S2: {66, 20, 55}

In [31]:
print("\nQ4: Miscellaneous Programs")
import random, string

Q4: Miscellaneous Programs

In [32]:
print("(i) Random Strings:")
for _ in range(100):
    print(''.join(random.choices(string.ascii_letters, k=random.randint(6, 8))))

(i) Random Strings:
ySrjeq
hfXGmI
vuFEcsXk
RxHzPf
FdlawS
cAEsaJ
yurbiwGP
WufXzdD
Indcwy
HcynSRtP
UzZSvv
QGETGuIo
tbvsYEo
OZxshxSb
whAITks
GshzKWAu
lKkOOGg
VBvnvv
fXanXOI
cUhKRFI
ipKvFll
EjwnYN
jrIoAnG
acGIzvYo
bVfDpC
pWVYCoud
spEMqi
LDLXCboE
ssyacIq
haSwkzSf
DdMyLj
OoFZTt
uEQFyxXJ
AHnVpnF
QeObQmI
mSmndv
TBAeaDA
KJOIIVx
zWOFWVQH
KcrhTix
VilMOoj
uDjMje
xmhqyOl
XaKAmbi
DnzJKgzm
MHQueDo
vmbKoq
tJQnrxH
lFSymkRA
SKRaaT
WBAGVuY
lNYyTkzD
aNFallVa
gspALe
hNVgXx
qikBlkO
DHOFru
TETPoK
dYztUhL
EgnCsni
kxDrrr
TfJmPpYP
ZzKeSw
dBJuMu
IowQdEbK
crdmfP
oOMcXkM
TpMKMS
YgSRemDL
cDAHbec
yhQpDkG
afaghdmC
dtSjxR
npfZkXDo
rTxJOzS
QWkwKEG
OvnmSb
wBmqUd
cfHenJLA
eegzMgJr
GqiTyw
jqseGc
odixEtpQ
xSyoaBhI
WBSPsNQb
ySKoNB
ZejMEn
btuEprer
mcAtmX
OwbZfSKK
QmSbquu
fYnzBv
RUyHggD
vxVrhp
uFLEVzdv
EDTqhxmF
wWlgbNGX
PmjZUjuD
CFLYwL
dAKVqVJ

In [33]:
print("\n(ii) Prime numbers between 600 and 800:")
for num in range(600, 801):
    if is_prime(num):
        print(num, end=' ')

(ii) Prime numbers between 600 and 800:
601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797

In [34]:
print("\n\n(iii) Numbers divisible by 7 and 9 between 100 and 1000:")
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num, end=' ')

(iii) Numbers divisible by 7 and 9 between 100 and 1000:
126 189 252 315 378 441 504 567 630 693 756 819 882 945

In [35]:
print("\n\nQ5: Two List Comparison")
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]

Q5: Two List Comparison

In [20]:
print("(v) Sum of all values:", sum(D.values()))

(v) Sum of all values: 37.4

In [36]:
print("List1:", list1)
print("List2:", list2)

List1: [29, 28, 10, 30, 10, 22, 19, 13, 18, 20]
List2: [27, 12, 19, 22, 25, 30, 20, 21, 29, 22]

In [37]:
print("(i) Common elements:", list(set(list1) & set(list2)))

(i) Common elements: [19, 20, 22, 29, 30]

In [38]:
print("(ii) Unique elements:", list(set(list1) ^ set(list2)))

(ii) Unique elements: [10, 12, 13, 18, 21, 25, 27, 28]

In [39]:
print("(iii) Min in list1:", min(list1), "Min in list2:", min(list2))

(iii) Min in list1: 10 Min in list2: 12

In [40]:
print("(iv) Max in list1:", max(list1), "Max in list2:", max(list2))

(iv) Max in list1: 30 Max in list2: 30

In [41]:
print("(v) Sum of list1:", sum(list1), "Sum of list2:", sum(list2))

(v) Sum of list1: 199 Sum of list2: 227

In [42]:
print("\nQ6: Random Number Analysis")
numbers = [random.randint(100, 900) for _ in range(100)]
odds = [n for n in numbers if n % 2 != 0]
evens = [n for n in numbers if n % 2 == 0]
primes = [n for n in numbers if is_prime(n)]
print("Generated numbers:", numbers)
print("Odd numbers (count={}):".format(len(odds)), odds)
print("Even numbers (count={}):".format(len(evens)), evens)
print("Prime numbers (count={}):".format(len(primes)), primes)

Q6: Random Number Analysis
Generated numbers: [411, 672, 244, 883, 598, 474, 709, 261, 379, 279, 889, 741, 499, 845, 439, 470, 838, 445, 688, 838, 750, 837, 694, 454, 738, 763, 315, 211, 323, 276, 209, 344, 410, 280, 295, 701, 849, 238, 435, 889, 266, 723, 542, 889, 131, 303, 853, 821, 360, 789, 396, 835, 354, 234, 554, 448, 765, 604, 682, 706, 478, 563, 726, 794, 313, 542, 757, 429, 716, 817, 624, 292, 586, 790, 626, 572, 563, 131, 338, 149, 647, 674, 493, 189, 804, 722, 874, 136, 657, 167, 627, 102, 608, 448, 615, 487, 609, 819, 121, 831]
Odd numbers (count=52): [411, 883, 709, 261, 379, 279, 889, 741, 499, 845, 439, 445, 837, 763, 315, 211, 323, 209, 295, 701, 849, 435, 889, 723, 889, 131, 303, 853, 821, 789, 835, 765, 563, 313, 757, 429, 817, 563, 131, 149, 647, 493, 189, 657, 167, 627, 615, 487, 609, 819, 121, 831]
Even numbers (count=48): [672, 244, 598, 474, 470, 838, 688, 838, 750, 694, 454, 738, 276, 344, 410, 280, 238, 266, 542, 360, 396, 354, 234, 554, 448, 604, 682, 706, 478, 726, 794, 542, 716, 624, 292, 586, 790, 626, 572, 338, 674, 804, 722, 874, 136, 102, 608, 448]
Prime numbers (count=19): [883, 709, 379, 499, 439, 211, 701, 131, 853, 821, 563, 313, 757, 563, 131, 149, 647, 167, 487]

In [43]:
print("\nQ7: Write Dictionary to File")
D = {1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five"}
with open("dict_output.txt", "w") as f:
    for k, v in D.items():
        f.write(f"Key{k}, Value{v}\n")
print("Dictionary written to dict_output.txt")

Q7: Write Dictionary to File
Dictionary written to dict_output.txt

In [44]:
print("\nQ8: Write List Element Lengths to File")
L = ["One", "Two", "Three", "Four", "Five"]
with open("list_lengths.txt", "w") as f:
    for item in L:
        f.write(f"{item}, {len(item)}\n")
print("List element lengths written to list_lengths.txt")

Q8: Write List Element Lengths to File
List element lengths written to list_lengths.txt

In [45]:
print("\nQ9: Write Random Strings to File")
with open("random_strings.txt", "w") as f:
    for _ in range(100):
        s = ''.join(random.choices(string.ascii_letters, k=random.randint(10, 15)))
        f.write(s + "\n")
print("100 random strings written to random_strings.txt")

Q9: Write Random Strings to File
100 random strings written to random_strings.txt

In [46]:
print("\nQ10: Write Prime Numbers to File")
with open("prime_600_800.txt", "w") as f:
    for i in range(600, 801):
        if is_prime(i):
            f.write(str(i) + "\n")
print("Prime numbers written to prime_600_800.txt")

Q10: Write Prime Numbers to File
Prime numbers written to prime_600_800.txt

In [48]:
print("\nQ11: Measure Execution Time")
import time as tm
start = tm.time()
sum([x**2 for x in range(100000)])
end = tm.time()
print(f"Time taken: {end - start:.4f} seconds")

Q11: Measure Execution Time
Time taken: 0.0138 seconds

In [50]:
print("\nQ12: Sorting Time Graph")
sizes = [5000, 10000, 15000, 20000, 25000]
times = []

for size in sizes:
    lst = [random.randint(1, 100000) for _ in range(size)]
    start = tm.time()
    sorted_lst = sorted(lst)
    end = tm.time()
    times.append(end - start)
    print(f"Sorted {size} elements in {end - start:.4f} seconds")

plt.figure(figsize=(10, 5))
plt.plot(sizes, times, marker='o', linestyle='-', color='b')
plt.xlabel("Number of Elements")
plt.ylabel("Time Taken (seconds)")
plt.title("Sorting Time vs List Size")
plt.grid(True)
plt.tight_layout()
plt.show()

Q12: Sorting Time Graph
Sorted 5000 elements in 0.0008 seconds
Sorted 10000 elements in 0.0075 seconds
Sorted 15000 elements in 0.0030 seconds
Sorted 20000 elements in 0.0044 seconds
Sorted 25000 elements in 0.0066 seconds

NameError: name 'plt' is not defined

In [51]:
print("\nQ13: Student Marks Dictionary")
students = {
    "Alice": [78, 85, 92, 88, 76],
    "Bob": [67, 73, 70, 60, 68],
    "Charlie": [90, 91, 85, 89, 95],
    "David": [55, 60, 58, 54, 52]
}
averages = {name: sum(marks)/len(marks) for name, marks in students.items()}
max_student = max(averages, key=averages.get)
min_student = min(averages, key=averages.get)
print(f"Highest Average: {max_student} with {averages[max_student]:.2f}")
print(f"Lowest Average: {min_student} with {averages[min_student]:.2f}")

Q13: Student Marks Dictionary
Highest Average: Charlie with 90.00
Lowest Average: David with 55.80